/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.wrapper{
    font-family:'Times New Roman', Times, serif;
    width: 500px;
    margin-top: 3rem;
}

ul{
    list-style-type: none;
}

li.my_border{
    border: 2px solid black;
}

.line-through{
    text-decoration: line-through;
}

.fa-circle-xmark:hover{
    background-color: red;
    border-radius: 1rem;
}
